html, body {
  height: 100%;
  margin: 0;
}

main {
  height: 100vh;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.apple-pay-button {
  margin-top: 20vh;
  display: inline-block;
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: pay;
  cursor: pointer;
}